@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

/*******************************************************************
CHAT
*******************************************************************/

.chat-app {
  .main { position: relative;
    .redirect { margin: 30px 20px; }
  }
  .chat { width: 98%; }
  .name { float: left; }
  .me { color: #6611D3; }

  section {
    padding: 15px 15px 0 0;
    height: 470px;
    overflow: auto;

    ul {
      padding: 0;
      margin: 0 0 30px 14px;
      list-style: none;
    }
    li {
      padding: 8px 0 9px 0;
      border-bottom: 1px solid #eee;
      @include clearfix();
    }
    .message {
      float: left;
    }
    .author {
      margin-bottom: 5px;
      float:left;
      font-family: 'Ubuntu', Arial, sans-serif;
    }
    .date {
      margin-left: 5px;
      font-size: 0.9em;
      &::before { content: "("; }
      &::after { content: ")"; }
    }
    .body {
      clear: both;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
  footer {
    border-top: 1px solid #D1DCD1;
    padding-top: 18px;

    .new-message {
      position: relative;
      margin: 0;
      width: 80%;
      font-size: 22px;
      font-family: inherit;
      line-height: 1.2em;
      border: 0;
      outline: none;
      color: inherit;
      padding: 6px;
      border: 1px solid #999;
      box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }
    .send {
      margin: 0 4px 7px 20px;
      padding: 10px 14px;
      font: 16px "Ubuntu", Helvetica, Arial, sans-serif;
      letter-spacing: 1.4px;
      // color: white;
      // background-color: #5cb85c;
      // border-color: #4cae4c;
      // &:hover {
      //   background-color: #47a447;
      //   border-color:
      // }
    }

  }
  aside {
    width: 50%;
    h3 {
      margin: 0.4em 0;
    }
    ul {
      padding: 0;
      margin: 0 0 30px 20px;
      list-style: none;
      float: left;
    }
    li {
      padding: 0 0 0.3em 0;
      overflow: hidden;
      @include clearfix();
    }
    .profile-img {
      float: left;
      width: 2.5em;
      height: 2.5em;
      margin-right: 10px;
    }
    .name {
      font-family: 'Ubuntu', Arial, sans-serif;
      margin: 0.5em 0;
      overflow: hidden;
      white-space: nowrap;
      max-width: 73%;
    }
    .userTab {
      border: 2px solid #E7DDE7;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;
      background-color: white;
      position: absolute;
      padding: 10px 12px;
      display: inline;
      cursor: pointer;
      bottom: 100px;
      -webkit-transform: translate3d(0,0,0);
      &:hover { color: green; }
    }
    .userList {
      border-left: 1px solid #f5d6d6;
      box-shadow: inset 4px 1px 0px rgba(0, 0, 0, 0.04);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
      text-align: center;
      background-color: white;
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px;
    }

    .userTab.open,
    .userTab.open-add.open-add-active {
      right: 39%;
    }
    .userTab,
    .userTab.open-remove.open-remove-active {
      right: 0;
    }
    .userList.open,
    .userList.open-add.open-add-active {
      left: 60%;
    }
    .userList,
    .userList.open-remove.open-remove-active {
      left: 100%;
    }

    .open-add, .open-remove {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

  }
}