@import 'sass-bootstrap/lib/bootstrap';
@import url(http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css);
@import url(http://fonts.googleapis.com/css?family=Lato|Ubuntu:500|Open+Sans:400,700);

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #E9DAF5;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1 {
  width: 100%;
  // font-size: 70px;
  text-align: center;
  text-shadow: -1px -1px rgba(243, 157, 3, 0.95);
  text-rendering: optimizeLegibility;
  margin: 14px 0 12px 0;
  > a {
    color: yellow;
    font-weight: bold;
    transition: color .25s ease-in-out;
    &:hover {
      color: #2CFA07;
      text-decoration: none;
      text-shadow: -1px -1px #2EB516;
    }
  }
}
h3 {
  text-decoration: underline;
}

/*******************************************************************
LAYOUT
*******************************************************************/
header {
  a {
    color: green;
    background: #FEFEFE;
    display: inline-block;
    border-radius: 0.2em;
    padding: 0.5em 1.25em;
    font-weight: 700;
    text-decoration: none;
    font-size: 0.925em;
    transition: background-color .25s ease-in-out;
    border: 1px solid #B3B3B3;
    cursor: pointer;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
    margin: 0 5px;
    &:hover {
      background: #FDFD9C;
      color: green;
      text-decoration: none;
    }
  }
  text-align: center;
}

.page-container {
  height: 600px;
  width: 600px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 0px auto;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.15);
  @include clearfix();
  padding: 30px 30px 30px 40px;
}
// input[type=submit] {
//   margin: 0;
//   padding: 0;
//   border: 3px solid red;
//   background: none;
//   font-size: 100%;
//   vertical-align: baseline;
//   font-family: inherit;
//   color: inherit;
//   -webkit-appearance: none;
//   -ms-appearance: none;
//   -o-appearance: none;
//   appearance: none;
// }

.btn-primary {
  margin-bottom: 5px;
}

/*******************************************************************
CHAT
*******************************************************************/

.chat-app {
  .main { position: relative;
    .redirect { margin: 30px 20px; }
  }
  .chat { width: 98%; }
  .name { float: left; }
  .me { color: #6611D3; }

  section {
    padding: 15px 15px 0 0;
    height: 470px;
    overflow: auto;

    ul {
      padding: 0;
      margin: 0 0 30px 14px;
      list-style: none;
    }
    li {
      padding: 8px 0 9px 0;
      border-bottom: 1px solid #eee;
      @include clearfix();
    }
    .message {
      float: left;
    }
    .author {
      margin-bottom: 5px;
      float:left;
      font-family: 'Ubuntu', Arial, sans-serif;
    }
    .date {
      margin-left: 5px;
      font-size: 0.9em;
      &::before { content: "("; }
      &::after { content: ")"; }
    }
    .body {
      clear: both;
      // font-weight: bold;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      // word-break:break-all;
    }
  }
  footer {
    border-top: 1px solid #D1DCD1;
    padding-top: 18px;

    .new-message {
      position: relative;
      margin: 0;
      width: 80%;
      font-size: 22px;
      font-family: inherit;
      line-height: 1.2em;
      border: 0;
      outline: none;
      color: inherit;
      padding: 6px;
      border: 1px solid #999;
      box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }
    .send {
      margin: 0 4px 7px 20px;
      padding: 10px 14px;
      font: 16px "Ubuntu", Helvetica, Arial, sans-serif;
      letter-spacing: 1.4px;
      // color: white;
      // background-color: #5cb85c;
      // border-color: #4cae4c;
      // &:hover {
      //   background-color: #47a447;
      //   border-color:
      // }
    }

  }
  aside {
    width: 50%;
    .userList {
      border-left: 1px solid #f5d6d6;
      box-shadow: inset 4px 1px 0px rgba(0, 0, 0, 0.04);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
      // white-space: nowrap;
      text-align: center;
      background-color: white;
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px;
    }
    h3 {
      margin: 0.4em 0;
    }
    ul {
      padding: 0;
      margin: 0 0 30px 20px;
      list-style: none;
      float: left;
    }
    li {
      padding: 0 0 0.3em 0;
      @include clearfix();
    }
    .profile-img {
      float: left;
      width: 2.5em;
      height: 2.5em;
      margin-right: 10px;
    }
    .name {
      font-family: 'Ubuntu', Arial, sans-serif;
      margin: 0.5em 0;
      overflow: hidden;
      white-space: nowrap;
      max-width: 74%;
    }
    .userTab {
      border: 2px solid #E7DDE7;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;
      background-color: white;
      position: absolute;
      padding: 10px 12px;
      display: inline;
      cursor: pointer;
      bottom: 100px;
      right: 0px;
      &:hover {
        color: green;
      }
    }
    .userTab.open {
      right: 196px;
    }

  }
}

/*******************************************************************
NAME
*******************************************************************/
.switch {
  text-align: center;
  button { margin: 100px; }
}
h2 {
  font: 16px 'Lato', Helvetica, Arial, sans-serif;
  color: #6611D3;
}

/*******************************************************************
STATIC
*******************************************************************/
.static {
  margin: 0 10px;
  h3 { margin: 0.2em 0 0.6em 0; }
}

.tech > li {
  font-size: 0.9em;
}
.centerpiece {
  text-align: center;
  padding-bottom: 5%;
  .plant {
    width: 90%;
  }
}
