<div class="main">
  <div class="chat" ng-show="isAuthorized()">
    <section auto-scroll="event:scroll">
      <ul>
        <li ng-repeat="message in messages">
          <div class="message">
            <span class="author" ng-class="{'me': self() == message.author}">
              {{ message.author }}</span>
            <span class="date">{{message.time | date: 'HH:mm'}}</span>:
            <span class="body">{{ message.content }}</span>
          </div>
        </li>
      </ul>
    </section>
    <footer>
      <form class="message-form" ng-submit="checkInput()">
        <input class="new-message" ng-model="chat.newMessage" ng-trim="false" autofocus placeholder="How are you feeling ...">
        <input type="submit" class="btn btn-success send" value="Send">
      </form>
    </footer>
  </div>
  <aside ng-show="isAuthorized()">
    <div class="userList" ng-show="listOpened">
      <h3 style="text-decoration: underline;">Users</h3>
      <ul>
        <li ng-repeat="visitor in visitors" ng-class="isMe()">
          <img class="profile-img" ng-src="{{ visitor.profileImg }}">
          <span class="name" ng-class="{'me': self() == visitor.name}">
            {{ visitor.name }}</span>
        </li>
      </ul>
    </div>
    <div class="userTab" ng-click="showUserList()" ng-class="{ open:listOpened }">
      <span class="glyphicon glyphicon-user"></span>
    </div>
  </aside>
  <div class="redirect" ng-hide="isAuthorized()">
    Please first <a href="/" ng-click="flip('name')">introduce yourself</a> by letting us know your name.
  </div>
</div>
