<section class="chat-app page-container">
  <button ng-click="findHouse()">House</button>
  <div class="main">
    <div class="chat" ng-show="isAuthorized()">
      <section auto-scroll="event:scroll">
        <ul>
          <li ng-repeat="message in getMessages()">
            <div class="message">
              <span class="author" ng-class="{'me':currentUser.name == message.author.name}">{{ message.author.name }}</span>
              <span class="date">{{message.date | date: 'h:mm'}}</span>:
              <span class="body">{{ message.body }}</span>
            </div>
          </li>
        </ul>
      </section>
      <footer>
        <form class="message-form" ng-submit="sendMessage()">
          <input class="new-message" placeholder="How are you feeling ..." ng-model="newMessage" ng-trim="false" autofocus>
        </form>
      </footer>
    </div>
    <aside ng-show="isAuthorized()">
      <h3 style="text-decoration: underline;">Users</h3>
      <ul>
        <li ng-repeat="visitor in getVisitors()">
          <img class="profile-img" ng-src="{{ visitor.profileImg }}">
          <span class="name">{{ visitor.name }}</span>
          <!-- ng-class="'me':{{currentUser.name}} == {{visitor.name}} -->
        </li>
      </ul>
    </aside>
    <div class="redirect" ng-hide="isAuthorized()">
      Please <a href="/name">flip down</a> and let us know your name first.
    </div>
  </div>
</section>