<section ng-include="'partials/home'" class="page-container" data-slidr="home" ng-show="ready"></section>

<section ng-include="'partials/about'" class="page-container" data-slidr="about" ng-show="ready"></section>

<section ng-include="'partials/chat'" class="chat-app page-container" data-slidr="chat" ng-controller="ChatCtrl" ng-show="ready"></section>

<section ng-include="'partials/name'" class="page-container" data-slidr="name" ng-controller="NameCtrl" ng-show="ready"></section>

<section ng-include="'partials/tech'" class="page-container" data-slidr="tech" ng-show="ready"></section>

<section ng-include="'partials/video'" class="page-container" data-slidr="video" ng-show="ready"></section>