<section class="chat-app">
  <!-- <div ng-include="'partials/navbar'"></div> -->
  <h1>Cube Chat</h1>
  <div class="main">
    <div class="chat">
      <section auto-scroll="event:scroll">
        <ul>
          <li ng-repeat="message in getMessages()">
            <!-- <img class="author-profile" ng-src="{{ message.author.profileImg }}"> -->
            <div class="message">
              <span class="author" ng-class="{'me':currentUser.name == message.author.name}">{{ message.author.name }}</span>
              <span class="date">{{message.date | date: 'h:mm'}}</span>:
              <span class="body">{{ message.body }}</span>
            </div>
          </li>
        </ul>
      </section>
      <footer>
        <form class="message-form" ng-submit="sendMessage()">
          <input class="new-message" placeholder="Type your message here..." ng-model="newMessage" ng-trim="false" autofocus>
        </form>
      </footer>
    </div>
    <aside>
      <h3 style="text-decoration: underline;">Users</h3>
      <ul>
        <li ng-repeat="visitor in getVisitors()">
          <img class="author-profile" ng-src="{{ visitor.profileImg }}">
          <div class="name" ng-class="{'me':currentUser.name == visitor.name}">{{ visitor.name }}</div>
        </li>
      </ul>
    </aside>
  </div>
</section>