<section ng-include="'partials/home'" class="page-container" data-slidr="home">
</section>

<section ng-include="'partials/about'" class="page-container" data-slidr="about">
</section>

<section ng-include="'partials/chat'" class="chat-app page-container" data-slidr="chat" ng-controller="ChatCtrl"></section>

<section ng-include="'partials/name'" class="page-container" data-slidr="name" ng-controller="NameCtrl"></section>

<section ng-include="'partials/tech'" class="page-container" data-slidr="tech">
</section>

<section ng-include="'partials/video'" class="page-container" data-slidr="video">
</section>