<section class="page-container">
  <!-- <div ng-include="'partials/navbar'"></div> -->
  <div class="main"><div class="static">
    <h3>Technologies Used</h3>
    <p><i>Front-end:</i> As a modern web app, the lines where one library ends and another framework begins really start to blur.  Here is one possible breakdown.</p>
    <ul class="tech">
      <li><b>AngularJS</b> - By providing context for our data model, the controller allows us to establish data-binding between the model and the view</li>
      <li><b>HTML5</b> - We connected the dots between the presentation, data, and logic components as follows Web Audio API.  This also includes the Video API.</li>
      <li><b>CSS3</b> - There are things like alphatransparency, border radius and semantic changes.  Also, I declared the Doctype as HTML 5, so yea.</li>
    </ul>

    <p><i>Back-End:</i> Vestibulum rhoncus nisl in nibh tincidunt eleifend. Quisque at condimentum velit, ornare rhoncus risus.  Work hard to make it all happen.</p>
    <ul class="tech">
      <li><b>NodeJS</b> - A scope can be seen as the glue which allows the template, model and controller to work together.</li>
      <li><b>Websockets</b> - To dynamically generate links that will in the future lead to phone detail pages, we used the brace binding in the href attribute values.</li>
      <li><b>WebRTC</b> - Using STUN, TURN and ICE for NAT Traversal, we go through different firewalls to establish a P2P connection.</li>
      <li><b>MongoDB</b> - Document store NoSQL database used for fast reads, makes the old way of doing things obsolete. Like furrealz.</li>
    </ul>
  </div></div>
</section>