<div class="main"><div class="static">
  <h3>Technologies Used</h3>
  <p><i>Front-end:</i> As a modern web app, CubeChat uses many tools to make a complex operation look smooth and easy.</p>
  <ul class="tech">
    <li><b>AngularJS</b> - Custom built controllers, filters, directives, partials, route providers, services, factories, form validation with regex, and more!</li>
    <li><b>HTML5</b> - Angular uses declarative mark-up.  In addition, there is the Web Audio API, Video API, and Web Socket API through sockets.io library.</li>
    <li><b>CSS3</b> - From the cube transition itself to the arrows that change color only when you click, everything to do with the cube design requires some pretty sophisticated CSS.</li>
  </ul>

  <p><i>Back-End:</i> A full-stack app wouldn't be complete without all the components running on the server as well.</p>
  <ul class="tech">
    <li><b>NodeJS</b> - The event-driven, single-threaded platform that makes the realtime action possible, turbo-boosted by the Express framework.</li>
    <li><b>WebRTC</b> - Using STUN, TURN and ICE for NAT Traversal, we go through different firewalls to establish a P2P connection.</li>
    <li><b>MongoDB</b> - NoSQL database connected to the app using Mongoose. Embedded documents are used for denormalization by creating a hierachical structure where chat messages belong to a user.</li>
    <li><b>Yeoman</b> - Probably belongs in a separate section.  Yo for scaffolding, Grunt for task automation and Bower for package management.</li>
  </ul>
</div></div>